%footer#footer
  / Go to www.addthis.com/dashboard to customize your tools
  / %script{:src => "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-541f680174a4f6ad", :type => "text/javascript"}
  %script{:async => "", :src => "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-541f680174a4f6ad", :type => "text/javascript"}
  .addthis_sharing_toolbox
  %p.address


  %p
    %img{src: '/images/divider-light.svg'}
    %br
    Address:
    %br
    Rudi Chajevac 6/43
    %br
    1000 Skopje, Macedonia
    %br
    %br
    %span &#169; 2014 - Symmetry Translations 
    %br
    Imagined by
    %a{href:'http://exterminateart.com/', target:'_blank'} exterminateart.com