
%h1#logo
  %a.js-smooth{href: "/", title: 'Symmetry Home'}
    %img{src: '/images/logo.svg', alt: 'Symmetry logo'}

%a.right#menu-toggle{href: '#', title: 'Toggle mobile navigation'}
  %i.fa.fa-bars

%nav#main-nav
  %ul
    %li
      %a.js-smooth{href: '#work', title: 'Scroll to What we do'}
        What we do
    %li
      %a.js-smooth{href: '#about', title: 'Scroll to find out Who we are'}
        Who we are
    %li
      %a.js-smooth{href: '#form', title: 'Scroll to Get in touch'}
        Get in touch

%nav#secondary-nav.horizontal
  %ul
    %li
      %a{href: "skype:symmetry?call"}
        %i.fa.fa-skype
    %li
      %a{href:'https://www.facebook.com/SymmetryTranslations?ref=hl', target:'_blank'}
        %i.fa.fa-facebook
    %li
      %a{href:'https://twitter.com/SymmetryT', target:'_blank'}
        %i.fa.fa-twitter
    %li
      %a{href:'https://www.linkedin.com/company/5350993?trk=prof-exp-company-name', target:'_blank'}
        %i.fa.fa-linkedin
    %li
      %span +389 (0) 71 36 88 26
        