
%h1#logo
  %a.js-smooth{href: "/", title: 'Symmetry Home'}
    %img{src: '/images/logo.svg', alt: 'Symmetry logo'}

%a.right#menu-toggle{href: '#', title: 'Toggle mobile navigation'}
  %i.fa.fa-bars

%nav#main-nav
  %ul
    %li
      %a.js-smooth{href: '#work', title: 'Scroll to What we do'}
        What we do
    %li
      %a.js-smooth{href: '#about', title: 'Scroll to find out Who we are'}
        Who we are
    %li
      %a.js-smooth{href: '#contact', title: 'Scroll to Get in touch'}
        Get in touch

%a.phone{href: "skype:symmetry?call"}
  %i.fa.fa-skype
  +389 70 357 541
  / +389 71 368 826
  