
%script
  // sticky navigation menu
  / stickyNav('#header');

%header#header
  = partial('./views/shared/_header.haml')

%section#spaced

  .wrapper
    %h1
      %img{src: '/images/headline.svg'}
    / %hgroup#big
    /   %h1
    /     Translating & Creative
    /     %br
    /     Content Agency
    /   %h2
    /     %span We create original content and make words sound meaningful in Macedonian, English, Albanian, Italian, Spanish & German.
    /     %img{src:'/images/screen.png'}

  #space
    %img{src:'/images/bg-light.jpg'}

#waves
  %img{src: '/images/waves.png'}
  %h2 We translate, create original content and make words sound meaningful in Macedonian, English, Albanian, Italian, Spanish & German.
  

%section#work.content
  .wrapper
    .txt-heading
      %h1
        %img{src: '/images/divider.svg'}
        %span
          As professionals,
          %br
          this is at heart of what we do:
  %ul
    %li
      / %i.fa.fa-graduation-cap
      %h2
        %span
          %i.fa.fa-language
        Legal, medical & technical translations
      %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        
    %li
      %h2
        %span
          %i.fa.fa-university
        Certified court translations
      %p Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent.

    %li
      %h2
        %span
          %i.fa.fa-book
        Book & user manual translations
      %p Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis. 

    %li
      %h2
        %span
          %i.fa.fa-desktop     
        Web/app translation & localisation
      %p Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.

    %li
      %h2
        %span
          %i.fa.fa-paper-plane
        Content strategy for the web
      %p Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi.

%section#quote.content
  .wrapper

    %h1
      %img{src: '/images/divider-light.svg'}
      %span Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
    %p
      John Doe
      %span partner, ACME Inc.


%section#about.content
  .wrapper
    .txt-heading
      %h1
        %img{src: '/images/divider.svg'}
        %span Who we are
    %p
      Our translational and content service will bring to life your projects in exhilarating and innovative ways. We are:

    %ul.team
      %li
        %h2
          %img{src:'/images/bg-aurora.jpg'}
          Aleksandra Popovski-Golubovikj
        %p co-founder, translator and ESOL lecturer
        %img{src:'/images/and.svg'}
      %li
        %h2
          %img{src:'/images/bg-aurora.jpg'}
          Darka Panovska
        %p co-founder, translator and content strategist

%section#contact#form.content
  #aurora
    / %img{src: '/images/bg-aurora.jpg'}
  .wrapper
    .txt-heading
      %h1
        %img{src: '/images/divider.svg'}
        %span Get in touch

    %form{name: 'contact_email', action: '/', method: 'post'}
      %ul
        %li
          %input{type: 'text', name: 'full_name', placeholder: 'Name or Company'}

        %li
          %input{type: 'text', name: 'email', placeholder: 'Email address?'}

        %li
          %input{type: 'text', name: 'phone', placeholder: 'Phone number?'}

        %li
          %textarea{type: 'text', name: 'description', placeholder: 'What can we do for you?'}

        %li
          %input{type: 'text', id: 'fav_movie', name: 'favourite_movie', placeholder: 'What is your favourite movie?'}

        %li.center
          %input{type: 'submit', value: 'Send'}

%script{:src => '/javascripts/mylibs/sticky-nav.js'}
