
%script
  // sticky navigation menu
  / stickyNav('#header');

%header#header
  = partial('./views/shared/_header.haml')

%section#spaced

  .wrapper
    %h1
      %img{src: '/images/headline.svg'}
    / %hgroup#big
    /   %h1
    /     Translating & Creative
    /     %br
    /     Content Agency
    /   %h2
    /     %span We create original content and make words sound meaningful in Macedonian, English, Albanian, Italian, Spanish & German.
    /     %img{src:'/images/screen.png'}

  #space
    %img{src:'/images/bg-light.jpg'}

#waves
  %img{src: '/images/waves.png'}
  %h2 We translate, create original content and make words sound meaningful in Macedonian, English, Albanian, Italian, Spanish & German.
  

%section#work.content
  .wrapper
    .txt-heading
      %h1
        %img{src: '/images/divider.svg'}
        %span
          As professionals,
          %br
          this is at heart of what we do:
    %ul
      %li
        / %i.fa.fa-graduation-cap
        %i.fa.fa-language
        Legal, medical & technical translations
          
      %li
        %i.fa.fa-university
        Certified court translations

      %li
        %i.fa.fa-book
        Book & user manual translations

      %li
        %i.fa.fa-desktop     
        Website/app translation and localisation

      %li
        %span
          %i.fa.fa-cog        
        Content strategy for the web

%section#about.content
  .wrapper
    .txt-heading
      %h1
        %img{src: '/images/divider.svg'}
        %span Who we are
    %p
      Our translational and content service will bring to life your projects in exhilarating and innovative ways. We are:

    %ul.team
      %li
        %h2
          %img{src:'/images/bg-aurora.jpg'}
          Aleksandra Popovski-Golubovikj
        %p co-founder, translator and ESOL lecturer
        %img{src:'/images/and.svg'}
      %li
        %h2
          %img{src:'/images/bg-aurora.jpg'}
          Darka Panovska
        %p co-founder, translator and content strategist

%section#contact#form.content
  #aurora
    / %img{src: '/images/bg-aurora.jpg'}
  .wrapper
    .txt-heading
      %h1
        %img{src: '/images/divider.svg'}
        %span Get in touch

    %form{name: 'contact_email', action: '/', method: 'post'}
      %ul
        %li
          %input{type: 'text', name: 'full_name', placeholder: 'Name or Company'}

        %li
          %input{type: 'text', name: 'email', placeholder: 'Email address?'}

        %li
          %input{type: 'text', name: 'phone', placeholder: 'Phone number?'}

        %li
          %textarea{type: 'text', name: 'description', placeholder: 'What can we do for you?'}

        %li
          %input{type: 'text', id: 'fav_movie', name: 'favourite_movie', placeholder: 'What is your favourite movie?'}

        %li.center
          %input{type: 'submit', value: 'Send'}

%script{:src => '/javascripts/mylibs/sticky-nav.js'}
