
%script
  // sticky navigation menu
  / stickyNav('#header');

%header#header
  = partial('./views/shared/_header.haml')

%section#spaced

  .wrapper
    %h1
      %img{src: '/images/headline.svg', alt:'Translating & Creative Content Agency' }

  #space
    %img{src:'/images/bg-light.jpg', alt:'Background'}

#headline
  %img{src: '/images/waves.png', alt:'Waves'}
  %h2 We translate, create original content and make words sound meaningful in Macedonian, English, Albanian, Italian, Spanish & German.
  

%section#work.content
  .wrapper
    .txt-heading
      %h1
        %img{src: '/images/divider.svg', alt:'Divider'}
        %span
          As professionals,
          %br
          this is at heart of what we do:
  %ul
    %li
      %h2
        %span
          %i.fa.fa-university
        Certified court translations
      %p Certification service for translation of official documents in English.

    %li
      %h2
        %span
          %i.fa.fa-language
        Legal, medical & technical translations
      %p Our main focus is in the legal field, but we also excel in medical and technical translations.
        
    %li
      %h2
        %span
          %i.fa.fa-book
        Book & user manual translations
      %p One of the several services we offer plus localisation in the target language.

    %li
      %h2
        %span
          %i.fa.fa-desktop     
        Web/app translation & localisation
      %p For more engaging and successful web experience, we deliver professional web/app translation and localisation.

    %li
      %h2
        %span
          %i.fa.fa-paper-plane
        Content strategy for the web
      %p Focusing on cohesive and useful web content in order to create better user experience.

%section#quote.content
  .wrapper

    %h1
      %img{src: '/images/divider-light.svg', alt:'Divider'}
      %span Symmetry Translations is a team of professionals who always deliver their work on time, with maximum efficiency and quality.
    %p
      %a{href:'http://www.polenak.com.mk/', title:'Polenak Law Firm', target:'_blank'}
        Polenak,
        %span Law Firm


%section#about.content
  .wrapper
    .txt-heading
      %h1
        %img{src: '/images/divider.svg', alt:'Divider'}
        %span Who we are
    %p
      Our translational and content service will bring to life your projects in exhilarating and innovative ways. We are:

    %ul.team
      %li
        %h2
          %img{src:'/images/aleksandra.jpg', alt:'Aleksandra Popovski-Golubovikj'}
          Aleksandra Popovski-Golubovikj
        %p translator and ESOL lecturer
        %img{src:'/images/and.svg', alt:'And'}
      %li
        %h2
          %img{src:'/images/darka.jpg', alt:'Darka Panovska'}
          Darka Panovska
        %p translator and content strategist

%section#contact#form.content
  .wrapper
    .txt-heading
      %h1
        %img{src: '/images/divider.svg', alt:'Divider'}
        %span Get in touch

    %form{name: 'contact_email', action: '/', method: 'post'}
      %ul
        %li
          %input{type: 'text', name: 'full_name', placeholder: 'Name or Company'}

        %li
          %input{type: 'text', name: 'email', placeholder: 'Email address?'}

        %li
          %input{type: 'text', name: 'phone', placeholder: 'Phone number?'}

        %li
          %textarea{type: 'text', name: 'description', placeholder: 'What can we do for you?'}

        %li
          %input{type: 'text', id: 'fav_movie', name: 'favourite_movie', placeholder: 'What is your favourite movie?'}

        %li.center
          %input{type: 'submit', value: 'Send'}

    %p.phone
      Give us a call:
      %span +389 (0) 71 36 88 26
      Feel free to consult us, ask for a quote or an advice.

%script{:src => '/javascripts/mylibs/sticky-nav.js'}
