
%script
  // sticky navigation menu
  / stickyNav('#header');

%header#header
  = partial('./views/shared/_header.haml')

%section#spaced

  .wrapper
    %h1
      %img{src: '/images/highlight2.svg'}
    / %hgroup#big
    /   %h1
    /     Translating & Creative
    /     %br
    /     Content Agency
    /   %h2
    /     %span We create original content and make words sound meaningful in Macedonian, English, Albanian, Italian, Spanish & German.
    /     %img{src:'/images/screen.png'}

  #space
    %img{src:'/images/bg-light.jpg'}

#waves
  %img{src: '/images/waves.png'}
  %h2 We translate, create original content and make words sound meaningful in Macedonian, English, Albanian, Italian, Spanish & German.
  

%section#work.content
  .wrapper
    .txt-heading
      %h1
        %img{src: '/images/divider.svg'}
        %span
          As professionals,
          %br
          this is at heart of what we do:
    %ul
      %li
        %img{src: '/images/icon1.svg'}
        %p Legal, medical & technical translations
      %li
        %img{src: '/images/icon2.svg'}
        %p Certified court translations
      %li
        %img{src: '/images/icon3.svg'}
        %p Book & user manual translations
      %li
        %img{src: '/images/icon4.svg'}
        %p Website/app translation and localisation
      %li
        %img{src: '/images/icon5.svg'}
        %p Content strategy for the web

%section#about.content
  .wrapper
    .txt-heading
      %h1
        %img{src: '/images/divider.svg'}
        %span Who we are
    %p
      Our translational and content service will bring to life your projects in exhilarating and innovative ways. We are:
      %br
      Aleksandra Popovski-Golubovikj co-founder, translator and ESOL lecturer
      %br
      Darka Panovska co-founder, translator and content strategist

%section#form.content
  .wrapper
    .txt-heading
      %h1
        %img{src: '/images/divider.svg'}
        %span Get in touch

    %form{name: 'contact_email', action: '/hire-us', method: 'post'}
      %ul
        %li
          %input{type: 'text', name: 'full_name', placeholder: 'What is your name'}

        %li
          %input{type: 'text', name: 'email', placeholder: 'What is your email address?'}

        %li
          %input{type: 'text', name: 'phone', placeholder: 'What is your phone number?'}

        %li
          %textarea{type: 'text', name: 'description', placeholder: 'What would you like to hire Siyelo to do for you?'}

        %li
          %input{type: 'text', name: 'budget', placeholder: 'What is your budget?'}

        %li
          %input{type: 'text', id: 'fav_movie', name: 'favourite_movie', placeholder: 'What is your favourite movie?'}

        %li
          %input{type: 'submit', value: 'Send'}

%script
  $(document).ready(function(){
  $('#fav_movie').hide();
  });


%script{:src => '/javascripts/mylibs/sticky-nav.js'}
