html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  color: #444444;
  font: 300 18px/1.6 "Open Sans", Arial, sans-serif;
}

.horizontal {
  *zoom: 1;
}
.horizontal:after {
  content: "";
  display: table;
  clear: both;
}
.horizontal li {
  display: inline;
  float: left;
}

h1, h2, h3, h4, h5, h6 {
  color: #2a2e35;
  font-family: "philosopher", Arial, sans-serif;
  font-weight: normal;
  line-height: 1.6;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 55px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 20px;
}

.wrapper {
  margin: 0 auto;
  position: relative;
  width: 80%;
  *zoom: 1;
}
.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.section {
  *zoom: 1;
}
.section:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  clear: both;
  display: block;
  width: 100%;
}

.half, .third, .two-thirds, .fourth, .three-fourths, .fifth {
  display: inline;
  float: left;
  *zoom: 1;
}
.half:after, .third:after, .two-thirds:after, .fourth:after, .three-fourths:after, .fifth:after {
  content: "";
  display: table;
  clear: both;
}

.half {
  width: 50%;
}

.third {
  width: 33%;
}

.two-thirds {
  width: 67%;
}

.fourth {
  width: 25%;
}

.three-fourths {
  width: 75%;
}

.fifth {
  width: 20%;
}

.left {
  display: inline;
  float: left;
}

.right {
  display: inline;
  float: right;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.center {
  text-align: center;
}

html, body {
  height: 100%;
}

#header {
  padding: 0 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 100;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
}
#header:after {
  content: "";
  display: table;
  clear: both;
}
#header.sticky {
  background: #111111;
  background: rgba(0, 0, 0, 0.8);
  background: rgba(219, 72, 40, 0.95);
  bottom: auto;
  padding: 0 25px;
  position: fixed;
  top: 0;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
#header.sticky #logo {
  display: block;
  margin: 9px 0;
  position: absolute;
}
#header.sticky #logo img {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
#header.sticky #main-nav a {
  background: none;
  border-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  margin: 15px 10px;
  padding: 5px 10px;
  text-shadow: none;
  -webkit-transition: font-size 0.4s;
  -moz-transition: font-size 0.4s;
  -o-transition: font-size 0.4s;
  transition: font-size 0.4s;
}
#header.sticky #main-nav a.active {
  border-color: rgba(255, 255, 255, 0.3);
  color: white;
}
#header.sticky .phone {
  display: block;
}

#logo {
  display: none;
  float: left;
}
#logo a {
  display: block;
  *zoom: 1;
}
#logo a:after {
  content: "";
  display: table;
  clear: both;
}
#logo img {
  float: left;
  max-width: 110px;
  width: 100%;
}

#menu-toggle {
  color: white !important;
  display: none;
  float: right;
}
#menu-toggle i {
  font-size: 2.5em;
  line-height: 30px;
}

a#work-link {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  color: #db4828;
  display: none;
  letter-spacing: 0.5px;
  padding: 5px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

#main-nav {
  text-align: center;
}
#main-nav ul {
  *zoom: 1;
}
#main-nav ul:after {
  content: "";
  display: table;
  clear: both;
}
#main-nav li {
  display: inline-block;
}
#main-nav a {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid white;
  color: #222222;
  color: rgba(0, 0, 0, 0.7);
  display: block;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0 10px 30px;
  padding: 10px 24px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  text-shadow: rgba(255, 255, 255, 0.2) 0 1px 2px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
#main-nav a:hover, #main-nav a:focus {
  background: white;
  color: #db4828;
}

.phone {
  color: white;
  display: none;
  font-size: 14px;
  padding: 20px;
  position: absolute;
  text-transform: uppercase;
  right: 0;
  text-decoration: none;
  top: 0;
}
.phone i {
  font-size: 21px;
  left: -3px;
  position: absolute;
}

#spaced {
  background: #06121d;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #080813), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(#080813, #000000);
  background-image: -moz-linear-gradient(#080813, #000000);
  background-image: -o-linear-gradient(#080813, #000000);
  background-image: linear-gradient(#080813, #000000);
}
#spaced h1 {
  margin-top: 10%;
  text-align: center;
  *zoom: 1;
}
#spaced h1:after {
  content: "";
  display: table;
  clear: both;
}
#spaced h1 img {
  margin: 0 auto;
  width: 40%;
}
#spaced .wrapper {
  color: white;
  height: 100%;
  margin: 0 auto;
  max-width: 1280px;
  position: relative;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#spaced hgroup {
  position: absolute;
  text-align: center;
  top: 30%;
}
#spaced h1, #spaced h2 {
  color: white;
  line-height: 0.9;
}
#spaced h1 {
  font-family: "philosopher";
  font-size: 100px;
  text-shadow: rgba(0, 0, 0, 0.5) 5px 5px 0;
}
#spaced h2 {
  bottom: 0;
  color: black;
  font: 21px/1.4 "open sans";
  letter-spacing: 0.5px;
  margin-top: 50px;
  position: relative;
  text-transform: none;
  text-shadow: white 2px 2px 0;
}
#spaced h2 span {
  display: block;
  padding: 100px 25% 0;
  position: relative;
  z-index: 4;
}
#spaced h2 img {
  left: 50%;
  margin-left: -358px;
  position: absolute;
  top: 0;
}

#space {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  min-width: 100%;
}
#space img {
  width: 100%;
}

#headline {
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 10;
}
#headline img {
  display: block;
  max-width: 600px;
  width: 100%;
}
#headline h2 {
  background: white;
  font-size: 38px;
  line-height: 1.4;
  padding: 90px 25% 0;
  text-align: center;
}

.content {
  background: white;
  position: relative;
  z-index: 5;
  *zoom: 1;
}
.content:after {
  content: "";
  display: table;
  clear: both;
}
.content h1 {
  font-size: 50px;
  text-align: center;
}
.content h1 img {
  display: inline-block;
}
.content h1 span {
  display: block;
  line-height: 1.2;
  margin: 25px 0 0;
}
.content p {
  text-align: center;
}

.txt-heading {
  padding: 8em 0 1.5em;
  text-align: center;
}
.txt-heading h1, .txt-heading h2 {
  line-height: 0.85;
  margin-bottom: 30px;
}
.txt-heading h1 {
  color: #db4828;
  margin-bottom: 0;
}
.txt-heading p {
  margin-bottom: 2em;
}
.txt-heading .fa {
  color: #db4828;
  font-size: 1.2em;
  margin-right: 5px;
}
.txt-heading .fa-phone {
  margin-left: 30px;
}

b {
  font-weight: bold;
}

#work {
  padding-bottom: 6em;
}
#work ul {
  padding: 2em 4em 0;
  text-align: center;
  *zoom: 1;
}
#work ul:after {
  content: "";
  display: table;
  clear: both;
}
#work li {
  display: inline-block;
  float: left;
  padding: 0 1.5%;
  text-align: center;
  width: 20%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#work h2 {
  color: #db4828;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 15px;
}
#work p {
  font-size: 15px;
}
#work li span {
  background: #eeeeee;
  display: block;
  margin: 0 auto 30px;
  overflow: hidden;
  padding: 5px;
  width: 140px;
  -webkit-border-radius: 140px;
  -moz-border-radius: 140px;
  -ms-border-radius: 140px;
  -o-border-radius: 140px;
  border-radius: 140px;
}
#work i {
  background: #f1f1f1;
  border: 2px dotted white;
  color: #666666;
  display: block;
  font-size: 56px;
  height: 136px;
  line-height: 136px;
  text-align: center;
  width: 136px;
  -webkit-border-radius: 140px;
  -moz-border-radius: 140px;
  -ms-border-radius: 140px;
  -o-border-radius: 140px;
  border-radius: 140px;
  text-shadow: white 1px 1px 2px;
}

#quote {
  background: rgba(219, 72, 40, 0.75);
  padding: 7em 0;
}
#quote .wrapper {
  width: 60%;
}
#quote h1, #quote p {
  color: white;
  text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px;
}
#quote h1 {
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 0.5em;
  text-align: center;
}
#quote h1 img {
  display: inline-block;
}
#quote p {
  font-size: 21px;
  font-style: italic;
  font-weight: 600;
}
#quote p a {
  color: inherit;
  text-decoration: none;
}
#quote p span {
  font-weight: 300;
}

#about {
  padding-bottom: 6em;
}
#about .wrapper > p {
  margin: 0 25%;
  width: 50%;
}

.team {
  margin: 0 auto;
  max-width: 1000px;
  *zoom: 1;
}
.team:after {
  content: "";
  display: table;
  clear: both;
}
.team li {
  float: left;
  position: relative;
  text-align: center;
  width: 50%;
}
.team li > img {
  position: absolute;
  right: -32px;
  top: 150px;
  z-index: 10;
}
.team h2 {
  color: #db4828;
  font-size: 30px;
  margin-top: 40px;
}
.team h2 img {
  display: block;
  margin: 0 auto 30px;
  max-width: 300px;
  width: 100%;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  border-radius: 200px;
}

#form {
  background: whitesmoke;
  padding-bottom: 6em;
}
#form .wrapper {
  width: 50%;
}
#form .txt-heading {
  padding-top: 6em;
}
#form li {
  margin-bottom: 1.5em;
}
#form input[type=text], #form select, #form textarea {
  background: white;
  border: 1px solid #e5e5e5;
  color: #444444;
  font: 300 1em/1.4 "open sans";
  padding: 15px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
#form input[type=text]:hover, #form select:hover, #form textarea:hover {
  border-color: #999999;
}
#form input[type=text]:focus, #form select:focus, #form textarea:focus {
  border-color: #db4828;
  outline: none;
}
#form textarea {
  max-width: 100%;
  min-height: 8em;
}
#form input[type=submit] {
  background: #db4828;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.8em 3em;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
#form input[type=submit]:hover, #form input[type=submit]:focus {
  background: #333333;
}

.radio {
  display: block;
  margin-bottom: 30px !important;
  padding-left: 10px;
}
.radio span {
  color: #bbbbbb;
  display: block;
  font-size: 1em;
  margin-bottom: 12px;
}
.radio label {
  color: #888888;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  line-height: 32px;
  margin-right: 35px;
  padding-left: 42px;
  position: relative;
}
.radio input[type=radio] {
  display: none;
}
.radio label:before {
  background-color: #dddddd;
  bottom: 0;
  content: "";
  display: inline-block;
  height: 32px;
  left: 0;
  margin-right: 10px;
  position: absolute;
  width: 32px;
  -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.15), 0px 1px 0px 0px rgba(255, 255, 255, 0.6);
  -moz-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.15), 0px 1px 0px 0px rgba(255, 255, 255, 0.6);
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.15), 0px 1px 0px 0px rgba(255, 255, 255, 0.6);
}
.radio label:before {
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
}
.radio input[type=radio]:checked + label:before {
  color: #999999;
  content: "\2716";
  font-size: 20px;
  line-height: 32px;
  text-align: center;
}

.upload {
  position: relative;
  width: 100%;
}
.upload input {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  bottom: 0;
  cursor: pointer;
  font-size: 20px;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}
.upload span {
  background: rgba(0, 0, 0, 0.1);
  border: none;
  color: #aaaaaa;
  display: block;
  font: normal 1em/1.4 "open sans";
  padding: 15px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#flashes {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1001;
}

.flash {
  color: white;
  font-size: 0.75em;
  padding: 0.75em 0;
}
.flash.error {
  background: #c20000;
}
.flash.notice {
  background: #06121d;
}
.flash a {
  color: white;
  float: right;
  opacity: 0.6;
}
.flash a:hover, .flash a:focus {
  opacity: 1;
}

#fav_movie {
  display: none;
}

#footer {
  background: #06121d;
  color: white;
  padding: 100px 0 25px;
  position: relative;
  text-align: center;
  z-index: 2;
  *zoom: 1;
}
#footer:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 800px) {
  #footer {
    padding-top: 5em;
  }
}
#footer .wrapper {
  padding: 9em 0 12em;
}
@media screen and (max-width: 800px) {
  #footer .wrapper {
    padding-bottom: 8em;
  }
}
#footer p {
  clear: both;
  font-size: 0.7em;
  opacity: 0.3;
  padding: 10em 0 0;
  text-align: center;
}
#footer p img {
  padding: 0 0 15px;
}

.tipsy {
  font-size: 10px;
  position: absolute;
  padding: 5px;
  z-index: 100000;
}

.tipsy-inner {
  background-color: black;
  color: white;
  max-width: 200px;
  padding: 5px 8px 4px 8px;
  text-align: center;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

/* Rounded corners */
/* Uncomment for shadow */
/*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; } */
.tipsy-arrow {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  border: 5px dashed black;
}

/* Rules to colour arrows */
.tipsy-arrow-n {
  border-bottom-color: black;
}

.tipsy-arrow-s {
  border-top-color: black;
}

.tipsy-arrow-e {
  border-left-color: black;
}

.tipsy-arrow-w {
  border-right-color: black;
}

.tipsy-n .tipsy-arrow {
  top: 0px;
  left: 50%;
  margin-left: -5px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
}

.tipsy-nw .tipsy-arrow {
  top: 0;
  left: 10px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
}

.tipsy-ne .tipsy-arrow {
  top: 0;
  right: 10px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
}

.tipsy-s .tipsy-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}

.tipsy-sw .tipsy-arrow {
  bottom: 0;
  left: 10px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}

.tipsy-se .tipsy-arrow {
  bottom: 0;
  right: 10px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}

.tipsy-e .tipsy-arrow {
  right: 0;
  top: 50%;
  margin-top: -5px;
  border-left-style: solid;
  border-right: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.tipsy-w .tipsy-arrow {
  left: 0;
  top: 50%;
  margin-top: -5px;
  border-right-style: solid;
  border-left: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

@media only screen and (max-width: 1440px) {
  #spaced h1 {
    font-size: 130px;
  }

  .projects li {
    margin-bottom: 5em;
    padding-top: 6em;
  }
}
@media only screen and (max-width: 1280px) {
  #spaced h1 {
    font-size: 100px;
  }
  #spaced h1 br {
    display: none;
  }
  #spaced h2 {
    font-size: 20px;
  }

  .projects li {
    margin-bottom: 2em;
    padding-top: 5em;
  }

  .wrapper {
    width: 85%;
  }
}
@media only screen and (max-width: 1200px) {
  .team li {
    height: 600px;
    width: 25%;
  }
  .team li img, .team li canvas {
    margin-left: -35%;
  }
}
@media only screen and (min-width: 801px) {
  #main-nav {
    display: block !important;
  }

  .wrapper {
    max-width: 1280px;
  }
}
@media only screen and (max-width: 800px) {
  .phone {
    display: none !important;
  }

  #spaced hgroup {
    top: 30%;
  }
  #spaced h1 {
    font-size: 110px;
    margin-top: 20%;
  }
  #spaced h1 img {
    width: 100%;
  }
  #spaced h2 {
    font-size: 28px;
  }

  #space img {
    height: 100%;
    margin-left: -50%;
    width: auto;
  }

  .half, .third, .two-thirds, .fourth {
    display: block;
    float: none;
    width: auto;
  }

  .third {
    margin: 0 auto;
  }

  #header {
    padding: 0 10px;
  }
  #header #main-nav {
    margin-bottom: 20px;
  }
  #header #main-nav li {
    float: left;
    width: 33.33%;
  }
  #header #main-nav li a {
    border-right: 0;
    padding: 10px 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
  #header #main-nav li:first-child a {
    -moz-border-radius-topleft: 20px;
    -webkit-border-top-left-radius: 20px;
    border-top-left-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    -webkit-border-bottom-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  #header #main-nav li:last-child a {
    border: 1px solid white;
    -moz-border-radius-topright: 20px;
    -webkit-border-top-right-radius: 20px;
    border-top-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -webkit-border-bottom-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  #header #main-nav a {
    font-size: 12px;
    margin: 0;
  }

  #header.sticky {
    bottom: auto;
    padding: 0;
    position: fixed;
    top: 0;
    *zoom: 1;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
  }
  #header.sticky:after {
    content: "";
    display: table;
    clear: both;
  }
  #header.sticky #logo {
    float: left;
    position: static;
    margin: 5px 0 5px 5px;
  }
  #header.sticky #logo img {
    max-width: 100px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
  #header.sticky .wrapper {
    width: 90%;
  }
  #header.sticky .wrapper > span a {
    font-size: 14px;
  }

  #header.sticky #main-nav {
    clear: both;
    display: none;
    width: 100%;
  }
  #header.sticky #main-nav ul {
    border-top: 1px solid rgba(255, 255, 255, 0.04);
    margin: 0;
  }
  #header.sticky #main-nav ul li {
    border-top: 1px solid rgba(255, 255, 255, 0.04);
    width: 100%;
  }
  #header.sticky #main-nav ul li:hover {
    background: #db4828;
  }
  #header.sticky #main-nav ul li a {
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 14px;
    margin-bottom: 0;
    padding-left: 5%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  #header.sticky #main-nav ul li a.hireus {
    background: transparent;
  }
  #header.sticky #main-nav ul li a.active {
    color: white;
  }
  #header.sticky #menu-toggle {
    display: block;
    font-size: 10px;
    padding: 10px;
  }

  .wrapper {
    width: 80%;
  }

  .txt-heading {
    padding-top: 5em;
  }
  .txt-heading h1 {
    font-size: 30px;
  }

  a {
    font-size: 14px;
    -webkit-transition: font-size 0.4s;
    -moz-transition: font-size 0.4s;
    -o-transition: font-size 0.4s;
    transition: font-size 0.4s;
  }

  h1 {
    font-size: 75px;
    line-height: 1;
    margin-bottom: 0.5em;
  }

  #headline h2 {
    font-size: 22px;
    padding: 60px 10% 0;
  }

  #work {
    padding-bottom: 2em;
  }
  #work ul {
    padding: 2em 10% 0;
  }
  #work ul li {
    margin-bottom: 3em;
    width: 100%;
  }
  #work ul li span {
    margin-bottom: 20px;
    width: 100px;
  }
  #work ul li i {
    font-size: 40px;
    height: 96px;
    line-height: 96px;
    width: 96px;
  }

  #quote {
    padding: 5em 0;
  }
  #quote .wrapper {
    width: 90%;
  }
  #quote h1 {
    font-size: 24px;
  }

  #about .wrapper > p {
    margin: 0;
    width: auto;
  }

  .team li {
    height: auto;
    width: 100%;
  }
  .team li img {
    margin: 0 auto 10px;
    width: 50%;
  }
  .team li > img {
    display: none;
  }
  .team h2 {
    font-size: 24px;
    line-height: 1.4;
  }

  #form {
    padding-bottom: 2em;
  }
  #form .wrapper {
    margin: 0 auto;
    width: 80%;
  }

  #footer .wrapper {
    padding-top: 4em;
  }
  #footer a.circle {
    top: -150px;
  }
}
