.content
  background: #fff
  position: relative
  z-index: 5
  @include pie-clearfix
  h1
    font-size: 50px
    text-align: center
    img
      display: inline-block
    span
      display: block
      line-height: 1.2
      margin: 25px 0 0
  p
    text-align: center

.txt-heading
  padding: 8em 0 1.5em
  text-align: center
  h1, h2
    line-height: .85
    margin-bottom: 30px
  h1
    color: $two
    margin-bottom: 0
  p
    margin-bottom: 2em
  .fa
    color: $two
    font-size: 1.2em
    margin-right: 5px
  .fa-phone
    margin-left: 30px

b
  font-weight: bold

#work
  padding-bottom: 6em
  ul
    padding: 2em 4em 0
    text-align: center
    +pie-clearfix
  li

    display: inline-block
    float: left
    padding: 0 1.5%
    text-align: center
    width: 20%
    +box-sizing(border-box)

  h2
    color: $two
    font-size: 24px
    line-height: 1.2
    margin-bottom: 15px

  p
    font-size: 15px
  
  $icon: 140px

  li span
    background: #eee
    display: block
    margin: 0 auto 30px
    overflow: hidden
    padding: 5px
    width: $icon
    +border-radius($icon)
  i
    
    background: #f1f1f1
    border: 2px dotted #fff
    color: #666
    display: block
    font-size: $icon / 2.5
    height: $icon - 4px
    line-height: $icon - 4px
    text-align: center
    width: $icon - 4px
    +border-radius($icon)
    +text-shadow(#fff 1px 1px 2px)

#quote
  background: rgba(219, 72, 40, .75)
  padding: 7em 0
  .wrapper
    width: 60%
  h1, p
    color: #fff
    +text-shadow(rgba(0, 0, 0, 0.1) 1px 1px 2px)
  h1
    font-size: 36px
    line-height: 1.2
    margin-bottom: .5em
    text-align: center
    img
      display: inline-block
  p
    font-size: 21px
    font-style: italic
    font-weight: 600
    a
      color: inherit
      text-decoration: none
    span
      font-weight: 300

#about
  padding-bottom: 6em 
  .wrapper > p
    margin: 0 25%
    width: 50%

.team
  margin: 0 auto
  max-width: 1000px
  +pie-clearfix
  li
    float: left
    position: relative
    text-align: center
    width: 50%
    > img
      position: absolute
      right: -32px
      top: 150px
      z-index: 10
      
  h2
    color: $two
    font-size: 30px
    margin-top: 40px
    img
      display: block
      margin: 0 auto 30px
      max-width: 350px
      width: 100%
      +border-radius(200px)
