#footer
	background: #222
	background: rgba(0, 0, 0, 0.85)
	color: #fff
	padding: 100px 0 50px
	position: relative
	text-align: center
	z-index: 2
	@include pie-clearfix
	@media screen and (max-width: 800px)
		padding-top: 5em
	.wrapper
		padding: 9em 0 12em
		@media screen and (max-width: 800px)
			padding-bottom: 8em

	p
		clear: both
		color: #888
		color: rgba(255, 255, 255, .4)
		font-size: .7em
		padding: 10em 0 0
		text-align: center
		img
			padding: 0 0 15px
		span
			color: #888
			color: rgna(255, 255, 255, .4)
		a
			color: #888
			color: rgba(255, 255, 255, .4)
			font-size: 1em
			text-decoration: none
			+transition(all .4s)
			&:hover, &:focus
				color: #fff